---
import { exampleProjectSlugs } from "../../../../content/example-projects";
import { localeCodes, type LocaleCode } from "../../../../content/locales";

export function getStaticPaths() {
  return localeCodes.flatMap((locale) => exampleProjectSlugs.map((project) => ({ params: { locale, project } })));
}

const locale = Astro.params.locale as LocaleCode;
const project = Astro.params.project as string;
const redirectTarget = `/${locale}/portfolio/`;
const redirectHash = `#case-${project}`;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="canonical" href={redirectTarget} />
    <script is:inline define:vars={{ redirectTarget, redirectHash }}>
      const target = new URL(redirectTarget, window.location.origin);
      target.search = window.location.search;
      target.hash = window.location.hash || redirectHash;
      window.location.replace(target.toString());
    </script>
    <title>Websiteli Portfolio</title>
  </head>
  <body>
    <a href={`${redirectTarget}${redirectHash}`}>Continue to Websiteli Portfolio</a>
  </body>
</html>
